.header {
    max-width: 144rem;
    height: 7rem;
    background-color: #FFFFFF;
    margin: auto;
    &__inner {
        padding: 1.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}